.userPanel {
    border: 1px solid #d7dce5;
    margin-right: 8px;
    border-radius: 3%;
    width: 20%;
    height: 85vh;
    text-align: center;
    background-color: #d7dce5;
}

.btn:hover {
    background-color: #1976d2 !important;
    color: #d7dce5;
}
.btn {
    font-weight: 600 !important;
}

.user {
    margin: 12px;
    border: gray 1px solid;
    font-size: x-large;
    border-radius: 20px;
    padding: 6px;
    cursor: pointer;
}
.groupe {
    margin: 10px;
    padding: 10px;
    border: rgb(17, 17, 121) 1px solid;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
}
